import(RCurl)
import(XML)
import(RJSONIO)
import(RSQLite)

export(
    findGroup,
    bookReviewCounts,
    findBooks,
    usersShelves,
    usersGroups,
    getReview,
    userInfo,
    groupMembers,
    userReadStatuses,
    isbnReviews,
    groupShow,
    userBookReview
   )

export(getSearchResults, getReviews)

export(rbindDFs)

export(getUserRatings)

export(getLoginCookie)

